# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.bat

# Streamlit secrets
.streamlit/secrets.toml
.streamlit/config.toml

# Database files
# IMPORTANT: Prevents your personal player data from being committed.
databases/*.db

# Config file
/config/config*

# Pictures
/config/assets/*

# Virtual environment
# Replace 'venv' with the name of your virtual environment folder if different.
venv/
.venv/
env/
.env/
ENV/
env.bak/
venv.bak/

# IDE settings folders
.idea/
.vscode/